@import 
url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0; /*Sin espacio de relleno dentro de los elementos*/
    margin: 0;  /*sin margen alrededor de los elementos*/
    box-sizing: border-box; /*modelo de caja de css*/
    text-decoration:none; /*sin subrayados, ni nada*/
    scroll-behavior: smooth; /*desplazamiento suave al hacer scroll*/
    list-style: none; /*eliminamos marcadores o viñetas de las listas*/
    font-family: 'Poppins', sans-serif; /*añadimos la fuente importada anteriormente en el  @import*/ 
}

:root { /*establecemos colores y tamaños de tipografía específicos para toda la aplicación*/ 
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #05b4ff;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background-color: var(--bg-color); /*color de fondo*/
    color: var(--text-color); /*color del texto */
}

/* --------------------------- HOME Y HEADER ---------------------------------*/ 
header {
    position: fixed; /*fijamos el encabezado, para que no se mueva*/
    width: 100%; /*que ocupe todo el año de la pantalla*/
    top: 0; /*lo ponemos en la parte superior de la pantalla*/
    right: 0; /*en la esquina derecha */
    z-index: 1000; /*para la profundidad, está por encima de todos los elementos que haya*/
    display: flex;  /*alineamos todos los elementos en una fila*/
    align-items: center ; /*se alinean verticalmente*/
    justify-content: center;  /*se alinean horizontalmente*/
    background: transparent; /*sin fondo*/
    padding: 22px 15%;  /*espacio de relleno de los elementos del header*/
    border-bottom: 1px solid transparent;  /*borde inferior transparente*/
    transition: all .45s ease; /*transición suave, esto es para cuando hagamos el hover quede más bonito*/
}

.logo {
    color: var(--text-color); /*color de texto*/
    font-size: 35px;  /*tamaño de la fuente*/
    font-weight: 700; /*lo ponemos muy grueso, en negrita*/
    letter-spacing: 1px; /*espaciado entre letras*/
}

span {
    color: var(--main-color); /*color de texto*/
}

.navlist {
    display: flex;  /*alineamos todos los elementos en una fila*/
}

.navlist a {
    color: var(--second-color);/*color de texto*/
    font-size: 17px; /*tamaño de la fuente*/
    font-weight: 500;/*lo ponemos en negrita*/
    margin: 0 25px;  /*margen izq y dch 0, arriba y abajo 25px*/
    transition: all .45s ease; /*transición suave, esto es para cuando hagamos el hover quede más bonito*/
}

.navlist a:hover{ /*al pasar el ratón por encima*/
    color: var(--main-color);/*color de texto*/
}

.navlist a.active { /*cuando tenga la clase="active"*/
    color: var(--main-color);/*color de texto*/
}

#menu-icon {
    font-size: 35px; /*tamaño de la fuente*/
    color: var(--text-color);/*color de texto*/
    z-index: 1000;/*para la profundidad, está por encima de todos los elementos que haya*/
    cursor: pointer; /*el tipo de cursor al pasar por encima*/
    margin-left: 24px;  /*margen derecho de 24px*/
    display: none; /*ocultamos el elemento*/
}

section {
    padding: 160px 15% 120px; /* Espaciado de 160px arriba , 15% del ancho de relleno izquierdo y derecho y 120px abajo*/
}

.home {
    position:relative; /*posición con respecto a su posición normal, es decir, para poder cambiar su posición*/
    height: 100vh; /*que ocupe toda la altura de la pantalla*/
    width: 100%; /*todo el ancho de la pantalla*/
    background-image: url(../img/background.png); /*imagen de fondo para toda la página principal*/
    background-size: cover; /*para que la imagen ocupe todo el área de la pantalla*/
    background-position: center; /*lo centramos*/
    display: flex; /*contenedor flexible, para que se adapten bien los elementos*/
    align-items: center;  /*los alineamos verticalmente*/
    justify-content: flex-start; /*los ponemos al inicio, para que estén a la izq*/
}

.slide {
    display: flex;/*contenedor flexible, para que se adapten bien los elementos*/
	width: 300px; /*ancho del contenedor*/
	height: 40px; /*añto del contenedor*/
	color: #fff; /*color de texto*/
	font-size: 40px; /*tamaño de la letra*/
	line-height: 40px;	/*espacio vertical entre las líneas de texto*/
  margin: 0 0 20px; /* margen de 0px arriba , 0 de izquierda y derecha y 20px abajo*/
  bottom: 65%; /*posicionamos el contenedor un 65% desde la parte inferior de la pantalla*/
  overflow: hidden; /*controlamos que no se desborde el contenido de la página, y si es así lo ocultamos*/
}

.one {
    color: white; /*color de texto*/
}


.home-text h1 {
    font-size: var(--big-font);/*tamaño de la letra*/
    font-weight: 700;/*lo ponemos en negrita*/
    color:var(--text-color); /*color de texto*/
    line-height: 1.1;/*espacio vertical entre las líneas de texto*/
    margin: 0 0 8px;/* margen de 0px arriba , 0 de izquierda y derecha y 8px abajo*/
}

.home-text h3 {
    color: var(--text-color);/*color de texto*/
    margin: 0 0 35px; /* margen de 0px arriba , 0 de izquierda y derecha y 35px abajo*/
    font-size: 3rem; /*tamaño de fuente*/
    font-weight: 700; /*lo ponemos en negrita*/
    line-height: 1.1; /*espacio vertical entre las líneas de texto*/

}

.button {
    display: inline-block; /*elemento como bloque en línea*/
    align-items: center; /*alineado verticalmente*/
    justify-content: center; /*alineado horizontalmente*/
}

.btn:hover { /*al pasar el ratón por encima*/
    transform: scale(1.1); /*lo hacemos un poco más grande*/
}

.btn {
    display: inline-block;/*elemento como bloque en línea*/
    padding: 12px; /*relleno del elemento*/
    background: var(--main-color); /*color de fondo*/
    border-radius: 5px;  /*lo hacemos algo redondo*/
    color: var(--text-color); /*color de texto*/
    font-size: 1rem; /*tamaño de fuente*/
    letter-spacing: 1px; /*espaciado de letras pequeño*/
    font-weight: 500; /*lo ponemos en negrita*/
    transition: all .45s ease; /*transición suave para cuando hagamos el hover*/
    margin-top: 30%; /*margen superior de 30%*/
}

/* ANIMACIÓN PARA EL TEXTO------------------------*/ 

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


h3 span {
  border-right: 2px solid #000; 
  white-space: nowrap; 
  overflow: hidden; 
  animation: typing 3s steps(40, end);/* Duración y pasos de la animación */
}

h3 span:after {
  content: "|"; 
  display: inline-block;
  margin-left: 3px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

h3 span:after {
  animation: blink 0.7s infinite; 
}


.animation {
	list-style: none;
	animation: cambiar 7s infinite;

}

.animation, p {
	margin: 0;
}

@keyframes cambiar {
	
	0%{ margin-top: 0;}
	20%{ margin-top: 0;}
	
	25% {margin-top: -40px;}
	50% {margin-top: -40px;}
	
	55% {margin-top: -80px;}
	80% {margin-top: -80px;}
	
	85% {margin-top: -40px;}
	95% {margin-top: -40px;}
	
	100% {margin-top: 0;}
}
  
/*------------------FORMACION SECTION----------------*/

.formacion {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.png);

}

.formacion-img {
    height: 500px;
    width: 400px; 
    border-radius: 10px;
}

.formacion-text {
    font-size: var(--h2-font);
    line-height: 1;
    margin-top: 15px;
}

.formacion-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.formacion-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}


/*------- EXPERIENCIA SECTION -----*/ 

.experiencia {
   
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.png);

}

.main-text{
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}

.experiencia-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
  background: var(--bg-color);
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
}

.s-icons i {
  font-size: 32px;
  margin-bottom: 20px;
}

.box h3 {
  font-size: 24px; 
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}

.box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

/*----------PORTFOLIO------*/

.portfolio {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background.png);
}

.portfolio-text {
  display: block;
  position: fixed;
  top:70%;
  left:45%;
}

/*----PORTFOLIO ANIMACIÓN EN PROGRESO---------*/

.loader {
    width: 32px;
    height: 90px;
    display: block;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50% 50% 0 0;
    border-bottom: 10px solid var(--main-color);;
    background-color: #FFF;
    background-image: radial-gradient(ellipse at center, #FFF 34%, var(--main-color) 35%,var(--main-color) 54%, #FFF 55%), linear-gradient(var(--main-color) 10px, transparent 0);
    background-size: 28px 28px;
    background-position: center 20px , center 2px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: animloaderBack 1s linear infinite alternate;
  }
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 44px;
    border-radius: 50%;
    box-shadow: 0px 15px var(--main-color) inset;
    top: 67px;
  }
  .loader::after {
    content: '';  
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 34px;
    height: 34px;
    top: 112%;
    background: radial-gradient(ellipse at center, #ffdf00 8%, rgba(249, 62, 0, 0.6) 24%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50% 50% 0;
    background-repeat: no-repeat;
    background-position: -44px -44px;
    background-size: 100px 100px;
    box-shadow: 4px 4px 12px 0px rgba(255, 61, 0, 0.5);
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  
  @keyframes animloaderBack {
    0%, 30%, 70% {
      transform: translateY(0px);
    }
    20%, 40%, 100% {
      transform: translateY(-5px);
    }
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 4px 4px 12px 2px rgba(255, 61, 0, 0.75);
      width: 34px;
      height: 34px;
      background-position: -44px -44px;
      background-size: 100px 100px;
    }
    100% {
      box-shadow: 2px 2px 8px 0px rgba(255, 61, 0, 0.5);
      width: 30px;
      height: 28px;
      background-position: -36px -36px;
      background-size: 80px 80px;
    }
  }

  /* -----------CONTACTO SECTION-----*/

  .contact {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.png);
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
  }

  .contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px; 
    font-weight: 600;
  }

  .contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
  }

  .contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
  }

  .list {
    margin-bottom: 2.8rem;
  }

  .list li {
    margin-bottom: 12px;
  }

  .list li a {
    display: block; 
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
  }

  .list li a:hover {
    color: var(--text-color);
    transform: translateY(5px);
  }

  .contact-icons i{
    height: 45px;
    width: 45px; 
    color: var(--text-color);
    font-size: 22px;
    display: inline-block;
    align-items: center; 
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;

  }

  .contact-icons i:hover {
    color: var(--main-color);

  }

  .contact-form form {
    position:relative;
  }

  .contact-form form input, form textarea  {
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none; 
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .contact-form textarea {
    resize: none; 
    height: 240px; 
  }

  .contact-form .submit {
    display: inline-block; 
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
  }


.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*-----------------FOOTER-------*/ 
footer {
  background-color:var(--bg-color);
  color: var(--text-color);
  padding: 5px;
  width: 100%;
  position: fixed; /* Fija el footer en la parte inferior */
  bottom: 0;
  left: 0;
  text-align: center;
}

.footer-text {
  text-align: center;
}

.contact-icons2 {
  display: inline-block;
}

.contact-icons2 i{
  height: 45px;
  width: 45px; 
  color: var(--text-color);
  font-size: 22px;
  display: inline-block;
  align-items: center; 
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all .45s ease;

}

.contact-icons2 i:hover {
  color: var(--main-color);
  transform: scale(1.1)

}